* {
  /* padding: 0px; */
  margin: 0px;
}
html {
  background-color: rgb(40, 43, 55);
}

.mobile-section {
  border: none;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  /* opacity: 0.2; */
  margin-top: 10%;
  background-color: rgb(9, 11, 15);
  border-radius: 2rem;
  overflow: hidden;
}

.payment-section {
  background-color: #000000;
  padding: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}

.welcome {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
}
.john {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.avtar-img {
  width: 2.1rem;
  float: right;
  border-radius: 10px;
  margin-right: 1.2rem;
  margin-top: -3.5rem;
}

.section-sub1 {
  display: inline-block;
  margin-top: 34px;
  margin-left: 17px;
  color: rgb(255, 254, 255);
}

.relative {
  position: relative;
}

.dp {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 100%;
}

.absolute-center {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.card-number {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transform: translate(-50%, 0);
  background-color: rgb(36, 32, 35);
  color: white;
  font-size: 0.7rem;
}
.cd-number {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  transform: translate(84px, 18px);
  background-color: rgb(36, 32, 35);
  font-size: 0.7rem;
  height: 1rem;
}

.username {
  color: burlywood;
  /* display: inline-block; */
  /* text-align: center; */
}

.dollar {
  color: rgb(222, 247, 191);
  text-align: center;
  font-size: 2rem;
}

.card-details-section {
  color: white;
  display: flex;
}

.visa-svg {
  background-color: rgb(36, 32, 35);
  border-radius: 1rem;
}
.visa-cd-number {
  padding: 0.5rem 0rem;
  margin-left: 0.7rem;
}

/* .section5 {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  background-color: rgb(3, 3, 3);
  min-height: 16rem;
  border-radius: 2rem;
} */
/* 
th {
  background-color: rgb(36, 32, 35);
  color: white;
  border-radius: 1.2rem;
} */

/* .center {
  width: 20rem;
  height: 12rem;
} */

.keypad-section {
  background-color: rgb(3, 3, 3);
  display: flex;
  justify-content: center;
}

tr {
  /* display: flex; */
  /* column-gap: 10px; */
  /* width: 20rem; */
  /* justify-content: space-evenly; */
  margin: 0.75rem;
}

/* button {
  color: white;
  background-color: rgb(36, 32, 35);
  border: none;
} */

p {
  text-align: center;
}

.button-div {
  height: 3rem;
  /* width: 18rem; */
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
}

.keypad-btn {
  width: 5rem;
  min-height: 56.8px;
  font-size: 1.5rem;
  color: white;
  border-radius: 1rem;
  background-color: rgb(36, 32, 35);
  border: none;
}

.backspace-btn {
  padding: 0.5rem 2rem;
  width: 100%;
  color: white;
  /* fill: white; */
  /* border-radius: 1rem; */
  background-color: transparent;
  border: none;
  /* font-size: 1.5rem; */
  min-height: 56.8px;
}

/* .backspace-btn svg {
  fill: white;
  color: white;
} */

.keypad-btn p {
  font-size: 0.7rem;
  color: #838186;
}

.keypad-table {
  border-spacing: 0.75rem 0.5rem;
}

#send-button {
  width: 100%;
  padding: 13px 3px;
  border-radius: 1rem;
  border: none;
  background-image: linear-gradient(
    20deg,
    rgb(84, 181, 241),
    rgb(231, 56, 175),
    rgb(252, 135, 79),
    rgb(255, 183, 56)
  );
}
